
/* --------------------*/
/* ---- ABILITIES ---- */
/* --------------------*/


/* ---- HABILIDADES ---- */
.abilities {
    margin-top: 40px;
    padding: 10px;
}

.abilities__layout {
    border: 2px solid var(--color-4);
    border-radius: 10px;
    box-shadow: var(--box-shadow-neon-c);
}

.abilities__title {
    display: flex;
    gap: 15px;
    text-shadow: var(--text-shadow-c);
    padding: 25px 25px 0 25px;
}

.abilities__scroll-container {
    display: flex;
    gap: 35px;
    justify-content: space-evenly;
    overflow-x: auto;
    padding: 10px 25px 25px 25px;
}

.abilitie__badge {
    margin-top: 20px;
    gap: 12px;
    transition: transform 0.5s;
}

.abilitie__frame {
    border: 2px solid var(--skill-color);
    border-radius: 20px;
    padding: 12px var(--skill-padding-x);
    gap: 10px;
    box-shadow: var(--skill-box-shadow);
}

.abilitie__icon {
    font-size: 4rem;
    text-shadow: var(--skill-text-shadow);
    transition: transform 0.3s;
}

.abilitie__language {
    font-size: 1.2rem;
    font-weight: bold;
    text-shadow: var(--skill-text-shadow);
}

.abilitie__var {
    width: 100%;
    border: 3px solid var(--skill-color);
    height: 17px;
    border-radius: 7px;
    box-shadow: 0 0 20px 0 var(--skill-color);
}

.abilitie__var-amount {
    display: block;
    background-color: var(--skill-color);
    width: var(--skill-porcent);
    height: 100%;
}

.abilitie__porcent {
    font-weight: bold;
    font-size: 1.3rem;
    text-shadow: var(--skill-text-shadow);
}

.dividing-line-container {
    margin-top: 30px;
    padding: 15px 30px;
}

.dividing-line {
    border: 3px dashed var(--color-4);
    box-shadow: var(--box-shadow-neon-c);
    border-radius: 5px;
}


/* ---- EFECTOS HOVER ---- */
.abilitie__badge:hover {
    transform: translateY(-7px);
    animation: neonFlicker 1.5s infinite alternate;
}

.abilitie__badge:hover .abilitie__icon {
    transform: scale(1.15);
}


/* ---- SCROLLBAR NEON ---- */
.abilities__scroll-container::-webkit-scrollbar {
    height: 8px;
}

.abilities__scroll-container::-webkit-scrollbar-track {
    background: var(--color-1);
    border-radius: 10px;
    box-shadow: inset 0 0 10px var(--color-5);
}

.abilities__scroll-container::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: linear-gradient(
            to right,
            var(--color-6),
            var(--color-7),
            var(--color-11)
    );

    box-shadow:
        0 0 10px var(--color-6),
        0 0 15px var(--color-7),
        0 0 20px var(--color-11);
}


/* ---- MEDIA QUERIES ---- */
@media screen and (min-width: 970px) {
    .abilities__layout {
        display: flex;
        justify-content: space-evenly;
    }

    .abilities-container {
        width: 60%;
    }

    .abilities__scroll-container {
        flex-wrap: wrap;
        gap: 25px;
        overflow-x: visible;
    }

    .abilitie__icon {
        font-size: 3rem;
    }

    .dividing-line-container {
        padding: 40px 0;
    }

    .dividing-line {
        height: 100%;
    }

    .tools-container {
        width: 40%;
    }    
}